<div class="wrapper fadeInDown">
  <div id="formContent">
    <br>
    <div class="fadeIn first">
      <h1>Login</h1>
    </div>
    <br>
    <!-- Login Form -->
    <form method="POST" action="/login">
      <input type="text" id="login" class="fadeIn second" name="noInduk" placeholder="nrp">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/register">Do not have an account? Register Here!</a>
    </div>

  </div>
</div>