<div class="wrapper fadeInDown">
  <div id="formContent">
    <br>
    <div class="fadeIn first">
      <h1>Register New Account</h1>
    </div>
    <br>
    <!-- Login Form -->
    <form action="/tambahmahasiswa" method="POST">
      <input type="text" class="fadeIn second" name="noInduk" placeholder="Nrp">
      <input type="text" class="fadeIn third" name="name" placeholder="Name">
      <input type="password" class="fadeIn third" name="password" placeholder="password">
      <input type="hidden" name="role" value="Mahasiswa">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>
  </div>
</div>
